<mat-card class="tickets-section">
    <mat-card-content class="tickets-section-container">
        <div class="section-arrow">
            <p class="title-arrow">This Week</p>
            <svg class="flecha" width="12" height="6" viewBox="0 0 12 6" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 -5.24537e-07L6 6L12 0" fill="#D3D6E4" />
           </svg>
        </div>
        <div class="section-ticket-circle">
            <img style="width: 105px;" src="assets/circle-colors.png" alt="circle">
        </div>
        <div class="tickets-dots">
            <div class="divition-of-dots-one">
                <svg class="dot-yellow" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.976074" y="0.891602" width="11.2299" height="12.0232" fill="#FFF742"/>
                </svg>
                <p class="text-yellow generic">Ticket D</p>
                <svg class="dot-green" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.976074" y="0.814087" width="11.2299" height="12.0232" fill="#1BD344"/>
                </svg>
                <p class="text-green generic">Ticket C</p>
            </div>
           
            <div class="divition-of-dots-two">
                <svg class="dot-red" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.943176" y="0.814087" width="11.2299" height="12.0232" fill="#FF4F4F"/>
                </svg>
                <p class="text-red generic">Ticket A</p>
                <svg class="dot-blue" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.943176" y="0.891602" width="11.2299" height="12.0232" fill="#3C65F5"/>
                </svg>
                <p class="text-blue generic">Ticket B</p>
            </div>
           
        </div>
            
            
    </mat-card-content>
</mat-card>
  